<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="['/', currentLanguageCode]">
      <img src="/assets/imgs/navbar/logo.png" alt="Uludağlar Logo" class="logo" />
    </a>
  </div>

  <div class="nav-links">
    <div
      *ngFor="let item of regularNavItems"
      class="nav-link"
      [class.has-dropdown]="hasDropdown(item)"
    >
      <a
        *ngIf="!item.isLanguageToggle && !hasDropdown(item) && !isSocialResponsibilityLink(item)"
        [routerLink]="['/', currentLanguageCode, item.route]"
        (click)="closeMobileMenu()"
        [routerLinkActive]="['active']"
      >
        <span>{{ getNavItemTitle(item) }}</span>
      </a>

      <a
        *ngIf="isSocialResponsibilityLink(item)"
        href="http://burs.uludaglar.com/"
        target="_blank"
        (click)="closeMobileMenu()"
      >
        <span>{{ getNavItemTitle(item) }}</span>
      </a>

      <span *ngIf="item.isLanguageToggle" (click)="toggleLanguage()">
        {{ getNavItemTitle(item) }}
      </span>

      <span
        *ngIf="hasDropdown(item) && !item.isLanguageToggle"
        [class.active]="isDropdownParentActive(item)"
      >
        {{ getNavItemTitle(item) }}
      </span>

      <div class="dropdown" *ngIf="hasDropdown(item)">
        <a
          *ngFor="let dropItem of getDropdownItems(item)"
          class="dropdown-item"
          [routerLink]="['/', currentLanguageCode, dropItem.route]"
          (click)="closeMobileMenu()"
          [routerLinkActive]="['active']"
        >
          {{ dropItem.title[currentLanguageIndex] }}
        </a>
      </div>
    </div>
  </div>

  <div class="right-controls">
    <button class="language-toggle" (click)="toggleLanguage()">
      <img
        [src]="getOtherLanguageFlag()"
        class="flag-icon"
        alt="Language Flag"
      />
      <span class="lang-text">{{ getOtherLanguageText() }}</span>
    </button>

    <button
      class="hamburger"
      (click)="toggleMobileMenu()"
      [class.active]="isMobileMenuOpen"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>

  <div class="mobile-nav" [class.active]="isMobileMenuOpen">
    <div
      *ngFor="let item of regularNavItems"
      class="nav-link mobile-nav-item"
      [class.has-dropdown]="hasDropdown(item)"
      (mouseenter)="openMobileDropdown(item)"
      (mouseleave)="closeMobileDropdown(item)"
    >
      <a
        *ngIf="!item.isLanguageToggle && !hasDropdown(item) && !isSocialResponsibilityLink(item)"
        [routerLink]="['/', currentLanguageCode, item.route]"
        (click)="closeMobileMenu()"
        [routerLinkActive]="['active']"
      >
        <span>{{ getNavItemTitle(item) }}</span>
      </a>

      <a
        *ngIf="isSocialResponsibilityLink(item)"
        href="http://burs.uludaglar.com/"
        target="_blank"
        (click)="closeMobileMenu()"
      >
        <span>{{ getNavItemTitle(item) }}</span>
      </a>

      <span *ngIf="item.isLanguageToggle" (click)="toggleLanguage()">
        {{ getNavItemTitle(item) }}
      </span>

      <span
        *ngIf="hasDropdown(item) && !item.isLanguageToggle"
        [class.active]="isDropdownParentActive(item)"
      >
        {{ getNavItemTitle(item) }}
      </span>

      <div
        class="mobile-dropdown"
        *ngIf="hasDropdown(item)"
        [class.active]="item.mobileDropdownOpen"
      >
        <a
          *ngFor="let dropItem of getDropdownItems(item)"
          class="dropdown-item"
          [routerLink]="['/', currentLanguageCode, dropItem.route]"
          (click)="closeMobileMenu()"
          [routerLinkActive]="['active']"
        >
          {{ dropItem.title[currentLanguageIndex] }}
        </a>
      </div>
    </div>
  </div>

  <div
    class="mobile-overlay"
    [class.active]="isMobileMenuOpen"
    (click)="closeMobileMenu()"
  ></div>
</nav>